<% provide(:title, 'Sundown at High Noon') %>

<section class="overview">
	<div class="row">
		<div class="span3">		
			<a class="artwork" href="http://thecrookedletters.bandcamp.com/album/sundown-at-high-noon"><%= image_tag('sundown/sundown_cover.jpg', :alt => 'Sundown at High Noon Cover Art') %></a>
		</div>

		<div class="span5">
			<h2>Sundown at High Noon</h2>
			<p>Recorded in Jacksonville, FL @ The Bloodpit. <em>2013</em></p>
		
			<ul class="unstyled">
				<li><a href="http://thecrookedletters.bandcamp.com/album/sundown-at-high-noon">Music</a></li>
				<li><a href="#video">Video</a></li>
				<li><a href="#credits">Credits</a></li>
				<li><a href="#photos">Photos</a></li>
			</ul>
		</div>
	</div>
</section>

<hr>

<section id="video">
	<h3>Talkie</h3>
	<div class="row">
		<div class="span8">
				<p><iframe src="http://player.vimeo.com/video/68275072?title=0&amp;byline=0&amp;portrait=0&amp;color=2c3e50" width="768" height="432" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>
		</div>
	</div>
</section>

<hr>

<section id="credits">
	<h3>Acknowledgements</h3>
	
	<div class="row">
		<div class="span8">
			<h4>The Players</h4>
			<ul class="unstyled">
				<li><strong>Harlan Montana:</strong> Lee McAlilly</li>
				<li><strong>Ezekiel Slaight:</strong> Jack Reed</li>
				<li><strong>Gossiping Tadpole:</strong> Zach Lever</li>
				<li><strong>Isidore Drinnen:</strong> Brett Bennett</li>
				<li><strong>Lollie Meachem:</strong> Arian Bentz</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<h4>Sundown at High Noon</h4>
			<ul class="unstyled">
				<li><strong>Drums:</strong> Brett Bennett</li>
				<li><strong>Bass:</strong> Lee McAlilly</li>
				<li><strong>Acoustic Guitar:</strong> Jack Reed</li>
				<li><strong>Electric Guitar:</strong> Zach Lever</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<h4>Drinnen's Ledger</h4>
			<ul class="unstyled">
				<li><strong>Guitar:</strong> Jack Reed</li>
				<li><strong>Guitar:</strong> Zach Lever</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<h4>Gossiping Tadpole</h4>
			<ul class="unstyled">
				<li><strong>Electric Guitar:</strong> Jack Reed</li>
				<li><strong>Acoustic Guitar:</strong> Zach Lever</li>
				<li><strong>Bass:</strong> Lee McAlilly</li>				
				<li><strong>Bass Drum:</strong> Zach Lever</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<h4>Sleep Under Stars</h4>
			<ul class="unstyled">
				<li><strong>Guitar:</strong> Jack Reed</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<h4>Iron Horse</h4>
			<ul class="unstyled">
				<li><strong>Guitar:</strong> Zach Lever</li>
				<li><strong>Guitar:</strong> Jack Reed</li>
				<li><strong>Organ:</strong> Lee McAlilly</li>				
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<h4>High Noon at Sundown</h4>
			<ul class="unstyled">
				<li><strong>Guitar:</strong> Zach Lever</li>
				<li><strong>Guitar:</strong> Jack Reed</li>
				<li><strong>Drum:</strong> Lee McAlilly</li>				
			</ul>
		</div>
	</div>
</section>

<hr>

<section id="photos">
	<h3>Photography</h3>
	<div class="row">
		<div class="span8">
			<p><%= image_tag('sundown/indian.png') %></p>
			<p><%= image_tag('sundown/harlan_montana.png') %></p>
			<p><%= image_tag('sundown/ezekiel_slaight.png') %></p>
			<p><%= image_tag('sundown/gossiping_tadpole.png') %></p>
			<p><%= image_tag('sundown/lollie_meachem.png') %></p>
			<p><%= image_tag('sundown/isadore_drinnen.png') %></p>
			<p><%= image_tag('sundown/duel.png') %></p>
			<p><%= image_tag('sundown/gun.png') %></p>
			<p><%= image_tag('sundown/sundown.png') %></p>
			<p><%= image_tag('sundown/shootout.png') %></p>
			<p><%= image_tag('sundown/warhol.png') %></p>	
			<p><%= image_tag('sundown/lollie_shoots.png') %></p>
			<p><%= image_tag('sundown/pain.png') %></p>
			<p><%= image_tag('sundown/tie_up.png') %></p>
			<p><%= image_tag('sundown/cowboy.png') %></p>
			<p><%= image_tag('sundown/harlan_shoots.png') %></p>
			<p><%= image_tag('sundown/sweet_lollie.png') %></p>
			<p><%= image_tag('sundown/final_breath.png') %></p>
			<p><%= image_tag('sundown/shaving.png') %></p>
			<p><%= image_tag('sundown/blood_on_the_tracks.png') %></p>
			<p><%= image_tag('sundown/final_scene.png') %></p>
		</div>
	</div>
</section><!--end photos -->

<hr>

<section id="potential_songs">
	<h3>Song Titles That Got Shot Down</h3>
	
	<div class="row">
		<div class="span8">
			<ul>
				<li>Ace High</li>
				<li>Dirty Pistol</li>
				<li>Storm Clouds Ahead</li>
				<li>Never to Return / Wanderlust</li>
				<li>The Truest Tear</li>
				<li>Dusty Noose</li>
				<li>Buzzards at the Crossing</li>
				<li>Wooden Plank, Dusty Noose</li>
				<li>The Hand of the Almighty</li>
				<li>What Is Given</li>
				<li>Feral Dogs</li>
				<li>A Horse Of Means</li>
				<li>To Steal A Fly From A Blind Spider</li>
				<li>Buried Affairs</li>
				<li>Hold Your Horses</li>
				<li>The Pendulum Swings</li>
				<li>King of the Gallows</li>
				<li>Straight Flush</li>
				<li>Coins From A Dead Man's Eyes</li>
				<li>Cast Iron</li>
				<li>In the Snake Den</li>
				<li>What Was Found In His Heart</li>
				<li>The Rattlesnake Code</li>
				<li>Velvet Lies</li>
				<li>Dirt and Bone</li>
				<li>Desert Shadow</li>
				<li>Harsh Words, Parched Lips</li>
				<li>The Blood Moon</li>
				<li>Comanche Stranger</li>
				<li>The Unmerciful</li>
				<li>A Woman With A Temper</li>
				<li>Westward Tracks</li>
				<li>Trigger</li>
				<li>Loathsome Dogs</li>
				<li>The Stolen Gold Chain</li>
				<li>Cracks in the Mud</li>
				<li>Dinner In Dodge, Sleep Under Stars</li>
				<li>A Card Game Gone Wrong</li>
				<li>Wandering Ghost</li>
				<li>The Deeper They Burn</li>
				<li>Dust Squall</li>
				<li>A Gentelmen's Agreement</li>
				<li>Midnight Pursuit</li>
				<li>The Property Contract</li>
				<li>...And He Would Do It Again</li>
				<li>For Glory and Gold</li>
				<li>Smoky Leather</li>
				<li>The Cards He Was Dealt</li>
				<li>Sitting Bull, Standing Ass</li>
				<li>The Measure Of A Man</li>
				<li>Silence On The Prairie</li>
				<li>The Horse Grave</li>
				<li>Vanished in the Mist</li>
				<li>Unarmed But Finding His Legs</li>
				<li>Empty Heart, Empty Flask</li>
				<li>DaggerTooth</li>
				<li>I Don't Aim To Miss</li>
				<li>Empty Shells, Broken Bottles</li>
				<li>His Behind's Behind Bars</li>
				<li>Scarred…But Standing</li>
				<li>The Verdict</li>
				<li>The Subject of a Death Sentence</li>
				<li>The Rocking of the Gallows</li>
				<li>Clarity At The End</li>
				<li>A Creed to Live By</li>
				<li>He Was Yeller</li>
			</ul>
		</div>
	</div>
</section>