<header id="header">
	<div class="container">
		<h1><%= link_to app_name, root_path, :class => "brand" %></h1>
    <nav>
       <ul class="unstyled">
       	<li class="<%= 'active' if current_page?(country_club_sandwiches_path) %>"><%= link_to "The Country Club Sandwiches", country_club_sandwiches_path %></li>
				<li class="<%= 'active' if current_page?(der_party_path) %>"><%= link_to "Der Party", der_party_path %></li>
				<li class="<%= 'active' if current_page?(sundown_at_high_noon_path) %>"><%= link_to "Sundown at High Noon", sundown_at_high_noon_path %></li>
       </ul>
    </nav>
		<hr>
	</div><!-- container -->
</header>